[submodule "Part_Causeless"]
	path = Part_Causeless
	url = https://github.com/CaliFall/Causeless.git
[submodule "Part_Shorts"]
	path = Part_Shorts
	url = https://github.com/CaliFall/Shorts.git
[submodule "Part_Summer"]
	path = Part_Summer
	url = https://github.com/CaliFall/Summer.git
